@using Library.Domain.Entities

@model List<Book>

<link rel="stylesheet" href="~/css/Index.css" />

<h1>Book List</h1>

<div class="btn-group mb-3" role="group">
    <a asp-controller="Book" asp-action="Create" class="addbook">Add Book</a>
    <a asp-controller="Book" asp-action="Index" class="addbook">Refresh</a>
</div>

<div class="card-columns">
    @foreach (var book in Model)
    {
        <div class="card">
            <img src="@book.ImageUrl" class="card-img-top" alt="@book.Title">
            <div class="card-body">
                <h5 class="card-title">@book.Title</h5>
                <p class="card-text">@book.Author</p>
               @* <p class="card-text">@book.Publisher, @book.YearPublished</p>
                <p class="card-text">ISBN: @book.ISBN</p>*@
                <div class="btn-group" role="group">
                    <a href="@Url.Action("Edit", "Book", new { id = book.Id })" class=" btn-Edit">Edit</a>
                    <a href="@Url.Action("Details", "Book", new { id = book.Id })" class=" btn-Edit">Details</a>
                    <a href="@Url.Action("Deletebook", "Book", new { id = book.Id })" class=" btn-Edit">Delete</a>
                </div>
            </div>
        </div>
    }
</div>

